[Unit]
Description=RTC Signaling Server

[Service]
Type=simple
User=http
Group=http
ExecStart=/usr/bin/siggi -listen=/run/siggi/siggi.sock
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
